<a href="https://colab.research.google.com/github/anjuts006/ict_assignments/blob/main/Assignment01_anju.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1 - Grocery Billing**

In [ ]:
item1_price = int(input('item1 price: '))
item1_quantity = int(input('item quantity: '))
item2_price = int(input('item2 price: '))
item2_quantity = int(input('item2 quantity: '))
total_bill = (item1_price * item1_quantity) + (item2_price * item2_quantity)
print("Total Bill = ",total_bill)

item1 price: 45
item quantity: 3
item2 price: 30
item2 quantity: 2
Total Bill =  195

**2 - Temperature Conversion**

In [ ]:
a = int(input('Enter the temperature in celsius: '))
b = (a*9/5)+32
print("Temperature in Farenheit = ",b)

Enter the temperature in celsius: 30
Temperature in Farenheit =  86.0

**3 - Salary Slip**

In [4]:
a = int(input('Enter the basic salary: '))
HRA = a * (20/100)
DA = a * (10/100)
total_salary = a + HRA + DA
print("Net salary = ",total_salary)

Enter the basic salary: 20000
Net salary =  26000.0

**4 - Simple Interest**

In [9]:
P = float(input("Enter the principal value: "))
R = float(input("Enter the rate of interest: "))
T = float(input("Enter the time (in years): "))
SI = P * R * T / 100
print("Simple Interest = ",SI)

Enter the principal value: 10000
Enter the rate of interest: 5
Enter the time (in years): 2
Simple Interest =  1000.0

**5 - Time Conversion**

In [15]:
import math

In [21]:
M = float(input("Enter total minutes: "))
T = M/60
hr = math.floor(M // 60)
min = math.floor(M % 60)
print(hr," hours",min,"  minutes")

Enter total minutes: 130
2  hours 10   minutes

**6 - BMI Calculator**

In [23]:
W = float(input("Weight = "))
H = float(input("Height = "))
BMI = W / (H**2)
print("BMI = ",BMI)

Weight = 60
Height = 1.65
BMI =  22.03856749311295

**7 - Discount Calculation**

In [27]:
op = int(input("Original Price: "))
dis = op - (op * 0.10)
print("Discounted Price = ",dis)

Original Price: 1200
Discounted Price =  1080.0

**8 - Area of a Triangle (Using Heronâ€™s Formula)**

In [28]:
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))
s = (a + b + c)/2
area = math.sqrt(s*(s-a)*(s-b)*(s-c))
print("Area of the triangle = ",area)

Enter side a: 5
Enter side b: 6
Enter side c: 7
Area of the triangle =  14.696938456699069

**9 - Paint Cost Estimator**

In [30]:
a = float(input("Enter wall length (in meters): "))
b = float(input("Enter wall height (in meters): "))
area = a * b
area_w = 2*(1.5 * 1.2)
paint = area - area_w
print("Total area to be painted",paint,"sq.m")
cost = paint * 25
print("Total painting cost = ",cost)

Enter wall length (in meters): 12
Enter wall height (in meters): 8
Total area to be painted 92.4 sq.m
Total painting cost =  2310.0

**10 - Electricity Bill Calculator**

In [31]:
a = float(input("Enter number of units consumed: "))
r = 5.2
f = 100
bill_amount = (a * r) + f
print("Electricity Bill = ",bill_amount)

Enter number of units consumed: 250
Electricity Bill =  1400.0